body {
  user-select: none;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%
}

.container {
  background-color: lightblue;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.vinil-stick {
  height: 400px;
  position: relative;
  z-index: 5;
  transform: rotate(-29deg);
  margin-left: 100px;
}

.vinil-platform {
  width: 462px;
  height: 462px;
  z-index: 1;
}

.vinil-plate {
  position: absolute;
  padding: 3px 0 0 3px;
  width: 460px;
  height: 460px;
  z-index: 2;
  opacity: 0;
}

.vinil-button-off {
  position: relative;
  right: 70px;
  bottom: 16px;
  display: none;
}

.container-with-plates {
  list-style: none;
  display: flex
}

.container-to-choose-sound>h3 {
  text-align: center;
}

.vinil-plate-sound {
  width: 120px;
  height: 120px;
}

.li-plates {
  text-align: center;
  margin-right: 40px;
}

.sound-name, .name-of-song-plate {
  margin: 0
}

.name-of-song-plate {
  position: relative;
  top: 290px
}

.name-of-song-plate>span {
  font-size: 16px;
  color: #fff;
  z-index: 999;
  margin-left: 58px;
}

h1 span {
  height: 200px;
  position: absolute;
  width: 20px;
  left: 160px;
  top: 30px;
  transform-origin: bottom center;
}
